builds/*
*.zip

# Terraform
**/.terraform/*
.terraform.*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*plan.json
**/.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
VENV/
.venv/
.ipynb_checkpoints/
*.egg-info/
dist/
build/
.eggs/
*.egg
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
.pytest_cache/
.mypy_cache/
.pyre/
.dmypy.json
.pytype/
